/* PostForm.css */
.post-button {
  margin-left: 85%;
  border-radius: 50%;
  height: 5%;
  width: 5%;
}

.post-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; /* Added */
  flex-direction: column; /* Changed to row */
  border-radius: 5%;
  margin-top: 3%;
  margin-left: 36%;
  margin-bottom: 5%;
}

.post-form {
  width: 37.5%; /* Each post is now 25% smaller */
  height: auto; /* Changed to auto */
  border: 1px solid #ccc;
  border-radius: 5%;
  background-color: whitesmoke;
  margin-bottom: 5%; /* Added margin between each post */
}

.post {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border-radius: 5%;
  background-color: white;
}

.post-image {
  height: 60%; /* Each image is now 25% smaller */
  width: 80%; /* Width remains the same */
  border-radius: 5%;
}

.post-form button {
  height: 30%;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  border-radius: 7%;
  margin-bottom: 5%;
  border-color: whitesmoke;
}

.post-form button:hover {
  background-color: green;
  color: whitesmoke;
}
